<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         testdox="true"
>
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>
	<testsuites>
		<testsuite name="Org_Heigl_Hyphenator TestSuite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>disable</group>
		</exclude>
	</groups>
	<logging/>
</phpunit>
